
<%= form_for([@album, @album.photos.build]) do |f| %>


    <div class="form-group">
      <%= f.label 'Photo'%>
      <%= f.file_field :source, accept: 'image/*', :onchange => "loadFile(event)" %>
    </div>
    <center>
      <%= image_tag('https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/image-x-generic-256.png' , :id => "output", :style => "max-width:200px;max-height:200px") %><br>
    </center>

    <div class="form-group" style="margin-top: 15px">
      <center>
        <%= f.submit 'Add new photo', class: "btn btn-success" %>
      </center>
    </div>
<% end %>
