
<div class="row">
  <%= form_for :blog,:html=>{:class=>"form-horizontal"},url: blogs_path do |f|  %>
      <center>
        <%= image_tag(@blog.image.url(:thumb) , :id => "output", :style => "max-width:200px;max-height:200px") %><br>
      </center>
      <div class="form-group">
        <%= f.label :image,  :class=>"control-label col-sm-2" %>
        <%= f.file_field :image, accept: 'image/*', :onchange => "loadFile(event)" %>
      </div>
      <div class="form-group">
        <%= f.label :content, :class=>"control-label col-sm-2" %>
        <div class="col-sm-5">
          <%= f.text_area :content, :class=>"form-control", rows: "10"%>
        </div>
      </div>
      <div class="col-sm-offset-4 col-sm-10">
        <%= f.submit %>
      </div>
  <% end %>
</div>