<div id="main-container" class="container">
  <% if user_signed_in? %>
    <div>
      <h4>Add Photo:</h4>
      <%= render 'photos/form' %>
      <br><br>
    </div>
  <% end %>
  <p>
    <strong>Title:</strong>
    <%= @album.name %>
  </p>
  <p>
    <%= link_to image_tag(@album.cover.url(:large))%>
  </p>
  <div>
  <% if @photos %>
    <% @photos.each do |photo| %>
      <div><%=image_tag(photo.source.url(:med)) %></div>
      <br><br>
    <% end%>
  </div>
  <% if current_user.id == @album.user_id %>
    <%= link_to 'Edit', edit_album_path(@album) %> |
  <% end %>

</div>
